*.db
*.db-journal
*.db-wal

node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.angular/
dist/
.tsbuildinfo

out/
build/

.env
.env.local
.env.*.local

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

Thumbs.db
.DS_Store